doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='google-site-verification', content='9mmBkEiEoEBSaYKU5r8OUhndmjjSTMXVpHnceJIYSRI')

        title Taikamaatio

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Cutive&family=Teko:wght@300..700&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        style.
            body, html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                overflow-y: auto; /* Enable vertical scrolling */
                overflow-x: hidden; /* Disable horizontal scrolling */
            }
            #container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1; /* Background layer */
            }

    body
        // Three.js Container
        #container

        // Masthead
        .masthead
            .masthead-content.text-white
                .container-fluid.px-4.px-lg-0
                    h1.lh-1.mb-4 Taikamaatio
                    p.mb-5
                        | Jätä yhteydenottopyyntö


                    form#contactForm(data-sb-form-api-token='360bc9c6-4137-4504-86e0-10b85e5da7bb')
                        // Email address input
                        .row.input-group-newsletter
                            .col
                                input#email.form-control(
                                    type='email',
                                    placeholder='Sähköpostiosoite...',
                                    aria-label='Sähköpostiosoite...',
                                    data-sb-validations='required,email'
                                )
                            .col-auto
                                button#submitButton.btn.btn-primary.disabled(type='submit') Lähetä
                        .invalid-feedback.mt-2(data-sb-feedback='email:required')
                            | Sähköpostiosoite on pakollinen.
                        .invalid-feedback.mt-2(data-sb-feedback='email:email')
                            | Sähköpostiosoite ei kelpaa.
                        // Submit success message
                        //
                        // This is what your users will see when the form
                        // has successfully submitted
                        #submitSuccessMessage.d-none
                            .text-center.mb-3.mt-2
                                .fw-bolder Onnistui!
                        
                        // Submit error message
                        //
                        // This is what your users will see when there is
                        // an error submitting the form
                        #submitErrorMessage.d-none
                            .text-center.text-danger.mb-3.mt-2 Tapahtui virhe!

        // Social Icons
        .social-icons
            //.d-flex.flex-row.flex-lg-column.justify-content-center.align-items-center.h-100.mt-3.mt-lg-0
            //   a.btn.btn-dark.m-3(href='https://instagram.com/taikamaatio')
            //       i.fab.fa-instagram
				
        footer.py-5.bg-black
            .container.px-5
                p.m-0.text-center.text-white.small &copy; <span id="currentYear"></span> Taikamaatio Oy
            .container.px-5
                p.m-0.text-center.text-white.small Y-tunnus: 3129930-8

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
        script(src='js/footer.js')

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')

        // Three.js Importmap
        script(type='importmap').
            {
                "imports": {
                    "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.js",
                    "three/addons/": "https://cdn.jsdelivr.net/npm/three/examples/jsm/"
                }
            }

        // Three.js Script
        script(type='module' src='js/scripts.js').